body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-text);
  padding: 30px;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1860px;
  margin: 0 auto;

  &.small {
    max-width: 1704px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 15px;
  }
}
