:root {
  //fonts
  --font-text: 'Work Sans Medium', sans-serif;
  --font-text-2: 'NeueMachina-Regular', sans-serif;
  --font-bold: 'NeueMachina-Bold', sans-serif;
  --font-number: 'NeueMachina-Ultrabold', sans-serif;

  //color
  --color-bg: #e5e6e9;
  --color-text: #262427;
  --color-select: #e24725;
}
